In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

dataset = pd.read_csv("vehicle.csv")
dataset

,vehicleClass,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,Unnamed: 11,Unnamed: 12
0,Motor cars,5167,5972,5690,6255,6825,9526,10107,10058,11386,12095,NaN,NaN
1,Dual-purpose vehicles,714,674,803,936,1013,1154,1077,1074,1161,2107,NaN,NaN
2,Light Omnibus,1289,2100,2241,2382,2607,3942,3833,3259,3591,4480,NaN,NaN
3,Medium Omnibus,141,189,217,182,225,305,255,296,402,318,NaN,NaN
4,Heavy Omnibus,177,221,245,281,342,331,384,392,465,664,NaN,NaN
5,Light goods vehicles,1412,1359,1307,1323,1470,1580,1619,1598,1809,2262,NaN,NaN
6,Medium goods vehicles,972,912,947,960,1075,1351,1259,1014,1187,1468,NaN,NaN
7,Heavy goods vehicles,508,505,224,395,481,594,606,500,456,608,NaN,NaN
8,Trailers and Semi-Trailers,607,494,610,472,485,626,686,606,510,752,NaN,NaN
9,Fuel Truck,92,123,90,93,150,151,124,224,327,149,NaN,NaN
10,Engineering plant,31,28,49,33,47,87,36,57,58,115,NaN,NaN
11,Tractors,49,58,89,62,93,70,69,127,111,209,NaN,NaN
12,Motor cycles,6305,5889,5503,6310,6537,8091,8038,7450,8073,8743,NaN,NaN
13,Pedal cycles,479,394,462,511,615,841,1051,953,1140,1561,NaN,NaN
14,Pedestrian Controlled Vehicles,49,60,49,36,20,44,30,40,29,185,NaN,NaN

In [3]:
dataset.drop(columns=["Unnamed: 11", "Unnamed: 12"], inplace=True, axis=1)
dataset

,vehicleClass,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Motor cars,5167,5972,5690,6255,6825,9526,10107,10058,11386,12095
1,Dual-purpose vehicles,714,674,803,936,1013,1154,1077,1074,1161,2107
2,Light Omnibus,1289,2100,2241,2382,2607,3942,3833,3259,3591,4480
3,Medium Omnibus,141,189,217,182,225,305,255,296,402,318
4,Heavy Omnibus,177,221,245,281,342,331,384,392,465,664
5,Light goods vehicles,1412,1359,1307,1323,1470,1580,1619,1598,1809,2262
6,Medium goods vehicles,972,912,947,960,1075,1351,1259,1014,1187,1468
7,Heavy goods vehicles,508,505,224,395,481,594,606,500,456,608
8,Trailers and Semi-Trailers,607,494,610,472,485,626,686,606,510,752
9,Fuel Truck,92,123,90,93,150,151,124,224,327,149
10,Engineering plant,31,28,49,33,47,87,36,57,58,115
11,Tractors,49,58,89,62,93,70,69,127,111,209
12,Motor cycles,6305,5889,5503,6310,6537,8091,8038,7450,8073,8743
13,Pedal cycles,479,394,462,511,615,841,1051,953,1140,1561
14,Pedestrian Controlled Vehicles,49,60,49,36,20,44,30,40,29,185

In [4]:
dataset.set_index("vehicleClass", inplace=True)
dataset

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
vehicleClass,,,,,,,,,,
Motor cars,5167,5972,5690,6255,6825,9526,10107,10058,11386,12095
Dual-purpose vehicles,714,674,803,936,1013,1154,1077,1074,1161,2107
Light Omnibus,1289,2100,2241,2382,2607,3942,3833,3259,3591,4480
Medium Omnibus,141,189,217,182,225,305,255,296,402,318
Heavy Omnibus,177,221,245,281,342,331,384,392,465,664
Light goods vehicles,1412,1359,1307,1323,1470,1580,1619,1598,1809,2262
Medium goods vehicles,972,912,947,960,1075,1351,1259,1014,1187,1468
Heavy goods vehicles,508,505,224,395,481,594,606,500,456,608
Trailers and Semi-Trailers,607,494,610,472,485,626,686,606,510,752
Fuel Truck,92,123,90,93,150,151,124,224,327,149
Engineering plant,31,28,49,33,47,87,36,57,58,115
Tractors,49,58,89,62,93,70,69,127,111,209
Motor cycles,6305,5889,5503,6310,6537,8091,8038,7450,8073,8743
Pedal cycles,479,394,462,511,615,841,1051,953,1140,1561
Pedestrian Controlled Vehicles,49,60,49,36,20,44,30,40,29,185

In [5]:
dataset.columns

Index(['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012',
       '2011'],
      dtype='object')

In [6]:

dataset.corr().style.background_gradient(cmap='coolwarm')

In [ ]:
features strongly correlated to 2020 are:
2019
2017
2016